
<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">News Scraper</a>
    </div>

    <!-- Toggling Nav Links -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/" id="home">Home</a></li>
        <li><a href="/saved" id="saved">Saved Articles</a></li>
      </ul>
    </div>
  </div>
</nav>

    <div class="jumbotron npr-bg">
      <div class="container">
        <h1 class="text-center" id="scraping"></h1>
        <button type="button" class="btn btn-danger btn-scrape">Refresh NPR Articles</button>
      </div>
    </div>

    <!-- New and unsaved articles will land here -->
    <div class="container article-container"> 
    </div>

    <footer class="footer">
      <p>&copy; 2019 News-Scraper</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script type="text/javascript" src="/assets/js/load.js"></script>
    <script type="text/javascript" src="/assets/js/index.js"></script>



  
  
